<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Sponsors', sponsors_path %></li>
  </ol>
</nav>

<div class="row justify-content-between">
  <div class="col-4">
    <h1>Sponsors</h1>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <% @sponsors.each do |sponsor| %>
      <tr>
        <td><%= sponsor.id %></td>
        <td><%= sponsor.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sponsors %>
