<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Occasions', occasions_path %></li>
  </ol>
</nav>

<div class="row justify-content-between">
  <div class="col-4">
    <h1>Occasions</h1>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <% @occasions.each do |occasion| %>
      <tr>
        <td><%= link_to occasion.id, occasion_path(occasion) %></td>
        <td><%= occasion.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @occasions %>
