<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Places', places_path %></li>
  </ol>
</nav>

<div class="row justify-content-between">
  <div class="col-4">
    <h1>Places</h1>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= link_to place.id, place_path(place) %></td>
        <td><%= place.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @places %>
